<div class="card mb-3 mt-1 shadow-sm">
  <div class="card-body">
      <p class="card-text">Name: {{ notification.name|linebreaksbr }}</p>
      <p class="card-text">Description:<br> {{ notification.text|linebreaksbr }}</p>
      <small class="text-muted"> Recieve notification via email on: {{ notification.notify_date }}</small>
        <br>
      {% if user == author %}
          <a class="btn btn-sm btn-info" href="{% url 'notifications:edit' author.username notification.pk %}" role="button">
            Edit
          </a>
          <a class="btn btn-sm btn-danger" href="{% url 'notifications:delete' author.username notification.pk %}" role="button">
            Remove
          </a>
        {% endif %}
  </div>
</div>
